body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffffff, #f9f9f9);
    
        background: linear-gradient(to right, #b0b0b0, #b0b0b0); /* Justera färgerna som du vill */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color:#000000;

}
img{
    width: 100%;
max-width: 300px;
height: auto;
}

header {
    background-color: #b0b0b0;
    color:rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: linear-gradient(135deg, #e6e2e1, #e2e1e0);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}


@media (max-width: 400px) {
    nav ul {
        flex-direction: column;
    }
}